@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.clear::after {
    content: "";
    display: table;
    position: relative;
    clear: both;
    width: 100%;
}





/* header section  */





header {
    background: #303030;
    padding: 20px 0;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    */
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px #cec9c912;
    transition: .5s;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content .menu ul {
    list-style: none;
    display: flex;
}

header .content .menu ul li {
    position: relative;
}

header .content .menu .hover-line {
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding-left: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.5s;
}

header .content .menu .hover-line:hover {
    color: #e8631c;
}

header .content .menu .hover-line::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #e8631c;
    transition: width 0.5s;
}

header .content .menu .hover-line:hover:after {
    width: 100%;
}

header .content .serch-i i {
    font-size: 30px;
    color: #fff;
}

.sticky header {
    padding: 2px 0;
}

header .content .menu ul li i {
    color: #fff;
    font-size: 25px;
    padding-left: 3px;
}

header .content .menu ul li:hover>ul {
    transform: rotateX(0deg) translate(-50%, 0);
}

header .content .menu .header-sub-nav {
    list-style: none;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform-origin: center top;
    transform: rotateX(90deg) translate(-50%, 0);
    /*opacity: 0;*/
    /* width: calc(100% + 30px); */
    /* margin: 0; */
    /* background: var(--backgroundone); */
    transition: all .5s ease-in-out 0s;
}

header .content .menu .header-sub-nav li {
    background: #303030;
    position: relative;
}

header .content .menu .header-sub-nav a {
    text-decoration: none;
    font-size: 20px;
    line-height: 0;
    color: #fff;
    display: block;
    padding: 20px;
    position: relative;
    transition: all .5s ease-in-out .5s;
}






/* banner section */





.parallax-window {
    min-height: 700px;
    background: transparent;
}

.banner-section .b-content {
    position: absolute;
    top: 40%;
    left: 8%;
}

.banner-section .b-content h1 {
    font-size: 124px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    transition: 1s;
    /* opacity: 0;
    transform: translate(-100px, 0); */
}

.banner-section .in-view .b-content h1 {
    opacity: 1;
    transform: translate(0, 0);
}

.banner-section .b-content p {
    color: #fff;
    width: 41%;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.b-c-a {
    display: inline-block;
    font-size: 29px;
    color: #fff;
    background: #e8631c;
    text-decoration: none;
    padding: 5px 65px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    transition: 0.5s;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    position: relative;

}

.b-c-a:after {
    content: "";
    display: block;
    width: 25px;
    height: 0;
    transition: height 0.5s;
    background: #2700ff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.b-c-a:before {
    content: "";
    display: block;
    width: 25px;
    height: 0;
    transition: height 0.5s;
    background: #2700ff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.b-c-a:hover:after {
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    width: 25px;
}

.b-c-a:hover:before {
    height: 100%;
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 8px 0px 0px 8px;
    width: 25px;
}

.b-c-a:hover {
    color: #000;
    background: #ddd;
}








/* tour section */





.tour-section {
    position: relative;
    background: #e8631c;
}

.tour-section .tour::after {
    content: "";
    background: url(../images/Design-1.png) no-repeat 0 0;
    position: absolute;
    width: 887px;
    height: 683px;
    left: 0;
    top: 15px;
}

.tour-section .tour-top {
    text-align: center;
    position: relative;
    z-index: 1;
}

.tour-section .tour-top h2 {
    font-size: 75px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-top: 90px;
    text-shadow: 4px 4px 1px #000;
}

.tour-section .tour-top p {
    color: #fff;
    font-size: 29px;
    width: 95%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.tour-section .tour-bottom {
    margin-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.tour-section .tour-bottom .card-a {
    background: #303030;
    text-align: center;
    transition: .5s;
}

.tour-section .tour-bottom .card-a .img {
    overflow: hidden;
}

.tour-section .tour-bottom .card-a img {
    width: 100%;
    transition: 0.5s;
    /* transition: all .5s ease-in-out 0s; */
    transform: scale(1);
}

.tour-section .tour-bottom .card-a img:hover {
    transform: scale(1.07);
}

.tour-section .tour-bottom .card-a:hover {
    background: #fff;
}

.tour-section .tour-bottom .card-a:hover .tour-s {
    color: #e8631c;
}

.tour-section .tour-bottom .card-a:hover p {
    color: #e8631c;
}

.tour-section .tour-bottom .tour-s {
    font-size: 36px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    transition: .5s;
    letter-spacing: 1px;
}

.tour-section .tour-bottom p {
    color: #fff;
    transition: .5s;
    padding: 15px;
}

.tour-section .tour-bottom .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 38%;
    left: 0;
    /* top: calc(50% - 52px); */
    width: 35px;
    height: 100px;
    background-color: hsla(0, 0%, 100%, .98);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    border-radius: 0px 7px 7px 0px;
}

.tour-section .tour-bottom .owl-carousel .owl-nav .owl-prev span {
    font-size: -webkit-xxx-large;
    color: #e8631c;
}

.tour-section .tour-bottom .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 38%;
    right: 0;
    /* top: calc(50% - 52px); */
    width: 35px;
    height: 100px;
    background-color: hsla(0, 0%, 100%, .98);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    border-radius: 7px 0px 0px 7px;
}

.tour-section .tour-bottom .owl-carousel .owl-nav .owl-next span {
    font-size: -webkit-xxx-large;
    color: #e8631c;
}







/* pricing section  */







.pricing-section {
    background: #303030;
}

.pricing-section .pricing-top {
    text-align: center;
}

.pricing-section .pricing-top h2 {
    font-size: 75px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-top: 90px;
    text-shadow: -3px 2px 0px #e8631c;
}

.pricing-section .pricing-top p {
    font-size: 19px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

/* .pricing-section  ::after{
    content: "";
    background: url(../images/Design-2.png) no-repeat 0 0;
    position: absolute;
    width: 680px;
    height: 700px;
    left: 0px;
    top: 1564px;
    z-index: 2;
} */

.pricing-section .pricing-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}

.pricing-section .pricing-bottom .card-b {
    width: 30%;
    background: #e8631c;
    border-radius: 7px;
    border: 2px solid transparent;
    transition: 0.5s;
    /* box-shadow: 1px 1px 2px #cac7c7; */
}

.pricing-section .pricing-bottom .card-b:hover {
    border: 2px solid #fff;
}

.pricing-section .pricing-bottom .card-b .img {
    padding: 30px 0;
}

.pricing-section .pricing-bottom .card-b .p-c-s {
    font-size: 36px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 1px #000;
}

.pricing-section .pricing-bottom .card-b p {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    color: #fff;
}

.pricing-section .pricing-bottom .card-b .p-c-a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 100px;
    border-radius: 7px;
    font-size: 20px;
    background: #303030;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    transition: 0.5s;
}

.pricing-section .pricing-bottom .card-b .p-c-a:hover {
    color: #e8631c;
    background: #bebcbc;
}







/* amazing section */







.amazing-section {
    background: #e8631c;
}

.a-m-content {
    text-align: left;
    padding: 0 60px;
}

.amazing-section .amazing-top {
    display: flex;
    align-items: center;
    text-align: center;
}

.amazing-section .amazing-bottom {
    display: flex;
    align-items: center;
    text-align: center;
}

.amazing-section .img {
    width: 50%;
    line-height: 0;
}

.amazing-section .img img {
    width: 100%;
}

.amazing-section .amazing-writing {
    width: 50%;
}

.amazing-section .amazing-writing h4 {
    font-size: 75px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: 4px 4px 1px #000;
}

.amazing-section .amazing-writing p {
    color: #fff;
    text-align: left;
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif;
}

.read {
    background: #fff;
    color: #e8631c;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}





/* statistics section */






.statistics-section {
    background: #303030;
}

.statistics-section .statistics {
    text-align: center;
}

.statistics-section .s-top {
    padding-top: 150px;
    text-align: center;

}

.statistics-section .s-top h4 {
    font-size: 75px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: -3px 2px 0px #e8631c;
}

.statistics-section .s-top p {
    font-size: 20px;
    color: #fff;
    width: 56%;
    padding-top: 20px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.statistics-section .s-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-bottom: 200px;
}

.statistics-section .s-bottom .s-a {
    width: 25%;
}

.statistics-section .s-bottom .s-a .s-a-number {
    font-size: 66px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    position: relative;
}

.statistics-section .s-bottom .s-a .s-a-number:after {
    content: "+";
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.statistics-section .s-bottom .s-a .club {
    font-size: 32px;
    color: #fff;
    display: block;
    font-family: 'Montserrat', sans-serif;
}






/* herbert section */









.herbert-section .herbert {
    text-align: center;
    padding: 400px 0;
}

.herbert-section .herbert p {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.herbert-section .herbert h4 {
    color: #fff;
    margin-top: 50px;
    font-size: 58px;
    font-family: 'Oswald', sans-serif;
}







/* subscribe section */






.subscribe-section {
    background: #e8631c;
}

.subscribe-section .subscribe {
    text-align: center;
}

.subscribe-section .subscribe h4 {
    font-size: 75px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-top: 120px;
    margin-bottom: 30px;
    text-shadow: 4px 4px 1px #000;
}

.subscribe-section .subscribe p {
    color: #fff;
    font-size: 20px;
    width: 67%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.subscribe-section .subscribe .from {
    margin-top: 30px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
}

.subscribe-section .subscribe .from input {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 4px 4px 2px #000;
}

.subscribe-section .subscribe .from input[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background: #000;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}






/* footer section */







footer {
    background: #303030;
}

footer .content {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 60px;
}

footer .left {
    width: 40%;
}

footer .right {
    width: 50%;
}

footer .left .music-f {
    font-size: 33px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: block;
}

footer .left p {
    color: #fff;
    font-size: 17px;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
}

footer .left .icon-grup a {
    color: #303030;
    font-size: 25px;
    transition: 0.5s;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
    text-decoration: none;
    margin-right: 5px;
}

footer .left .icon-grup a:hover {
    /* color: #fff; */
    color: #FF6E00;
    background: none;
    transform: rotateY(180deg);
}

footer .right {
    display: flex;
    justify-content: space-between;
}

footer .right .right-s {
    color: #fff;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
    display: block;
}

footer .right .right-a ul {
    list-style: none;
}

footer .right .right-a ul a {

    text-decoration: none;
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    transition: transform .25s ease;
}

footer .right .right-a ul a:hover {
    transform: translateX(1em) translateZ(0);
}

footer .right .right-a ul a::before {
    /* pointer-events: none; */
    content: "→";
    opacity: 0;
    position: absolute;
    top: 0;
    left: -7px;
    display: block;
    transform: translateX(-1.5em) translateZ(0);
    transition: transform .25s ease, opacity .25s ease;
}

footer .right .right-a ul a:hover::before {
    transform: translateX(-1em) translateZ(0);
    opacity: 1;
}




/* up-arow animation */


.up-arow {
    font-size: 30px;
    color: #fff;
    position: fixed;
    bottom: 22px;
    right: 22px;
    z-index: 1;
    animation: ani 2s infinite;

}

.up-arow::after {
    content: "";
    position: absolute;
    top: -32px;
    left: 0;
    width: 2px;
    height: 25px;
    background: #fff;
    animation: move 5s infinite;
    animation-delay: 3s;
}

.up-arow::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 25px;
    width: 2px;
    height: 25px;
    background: #fff;
    animation: move 5s infinite;
    animation-delay: 2s;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 0);
    }

}

@keyframes ani {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    50% {
        opacity: 1;
        transform: translate(0, -20px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }

}






/* responsive */






@media (max-width: 1200px) {

    .container {
        max-width: inherit;
        padding: 0 20px;
    }
}



@media (max-width: 1023px) {

    .pricing-section .pricing-bottom .card-b .p-c-a {
        padding: 5px 62px;
    }

    .pricing-section .pricing-bottom .card-b .img {
        padding: 10px 0;
    }

    .pricing-section .pricing-bottom .card-b .p-c-s {
        font-size: 30px;
    }

    .pricing-section .pricing-bottom .card-b p {
        padding: 12px 0;
    }

    .tour-section .tour::after {
        background: none;
    }

    .banner-section .b-content h1 {
        font-size: 100px;
    }

    .banner-section .b-content p {
        font-size: 14px;
    }

    .banner-section .b-content .b-c-a {
        font-size: 22px;
    }

    .tour-section .tour-top h2 {
        font-size: 60px;
        color: #fff;
        padding-top: 65px;
    }

    .tour-section .tour-top p {
        font-size: 20px;
        width: 80%;
        padding-top: 16px;
        margin: 0 auto;
    }

    .pricing-section .pricing-top h2 {
        font-size: 60px;
        padding-top: 60px;
    }

    .pricing-section .pricing-top p {
        font-size: 14px;
    }

    .pricing-section .pricing-bottom .card-b .img img {
        width: 40%;
    }

    .pricing-section .pricing-bottom .card-b .p-c-s {
        font-size: 25px;
    }

    .pricing-section .pricing-bottom .card-b p {
        padding: 8px 0;
    }

    .pricing-section .pricing-bottom .card-b .p-c-a {
        font-size: 16px;
    }

    .amazing-section .amazing-writing h4 {
        font-size: 50px;
    }

    .amazing-section .amazing-writing p {
        width: 100%;
    }

    .statistics-section .s-top h4 {
        font-size: 55px;
    }

    .statistics-section .s-top p {
        width: 60%;
    }

    .statistics-section .s-bottom .s-a .club {
        font-size: 22px;
    }

    .statistics-section .s-bottom .s-a .s-a-number {
        font-size: 50px;
    }

    .herbert-section .herbert p {
        font-size: 22px;
        width: 60%;
        margin: 0 auto;
    }

    .herbert-section .herbert h4 {
        margin-top: 35px;
        font-size: 50px;
    }

    .subscribe-section .subscribe h4 {
        font-size: 60px;
        padding-top: 70px;
        margin-bottom: 22px;
    }

    .subscribe-section .subscribe p {
        font-size: 18px;
        width: 72%;
    }

    header .content .menu .hover-line {
        font-size: 20px;
    }

    footer .left .music-f {
        font-size: 28px;
    }

    footer .left p {
        font-size: 12px;
    }

    footer .right .right-s {
        font-size: 24px;
    }

    footer .right .right-a ul a {
        font-size: 15px;
    }

    header .content .menu .hover-line {
        display: block;
    }

    header .content .menu .hover-line {
        font-size: 16px;
    }

    footer .left .icon-grup a {
        height: 35px;
        width: 35px;
    }

    .amazing-section .amazing-writing a {
        padding: 0px 35px;
        font-size: 20px;
    }

}




@media (max-width: 768px) {

    .amazing-section .amazing-writing h4 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .amazing-section .amazing-writing a {
        font-size: 18px;
    }

    .statistics-section .s-top {
        padding-top: 100px;
    }

    .statistics-section .s-bottom {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    footer .right .right-a ul a {
        font-size: 12px;
    }

}





@media (max-width: 479px) {

    header .content .menu .hover-line {
        font-size: 10px;
    }

    header .content .serch-i i {
        font-size: 20px;
    }

    .banner-section .b-content h1 {
        font-size: 70px;
    }

    .banner-section .b-content .b-c-a {
        font-size: 16px;
        padding: 5px 50px;
    }

    .pricing-bottom {
        flex-wrap: wrap;
        display: block;
    }

}